<h1>Prueba http</h1>
<div style="margin: auto; display: block;">
<ngx-charts-bar-vertical
  [view]="view"
  [scheme]="colorScheme"
  [results]="single"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  (select)="onSelect($event)">
</ngx-charts-bar-vertical>
</div>
<br>


Esta es la primera : {{primera | json}} <br>

Esta es la data : <br>

<!-- {{data | json}} -->

<div *ngFor="let item of data">

    <p>  {{item.SCIAN}} / Codigo: {{item.codigo}} </p>

</div>